.portfolio-items-wrapper {
  background-color:black;
  margin-right: 5%;
  margin-left: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 2px solid #007f00;

}
.portfolio-item-wrapper {
  position:relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;

  .portfolio-item-wrapper-spacer {
    position: absolute;
    height: 90%;
    width: 90%;
    border: 2px solid grey;
  }

  .img-text-wrapper {
    position: absolute;
      .logo-wrapper img{
        width: 100%;
        height: 90px;
        margin-bottom: 20px;
      }
  }

  .subtitle {
    bottom: 0;
    position: absolute;
    transition: 1s ease-out;
    color: transparent;
    text-decoration: none;
    outline:none;
    margin-bottom: 20px;
    width: 80%;
  }

}
.portfolio-item-wrapper:hover .subtitle {
  color: grey;
  font-weight: 400;
}

.portfolio-img-background {
  transition: .8s;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
  width: 100%;
}

.image-blur {
  transition: .8s;
  filter: brightness(40%);
}
